.tank-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    height: 30px;
    margin: 0 20px;
    border: 2px solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.add-btn{
    background-color: green;
    color: white;
    border-color: green;
}
.add-btn:hover{
    opacity: 0.8;
}
.empty-btn{
    background-color: transparent;
    color: red;
    border-color: red;
}
.empty-btn:hover{
    background-color: red;
    color: white;
}
.tank{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.water{
    width: 100%;
    border: 2px solid rgb(0, 117, 185);
    background-color: rgb(1, 162, 255);
    transition: height 0.5s ease;
}
@media only screen and (max-width: 600px) {
    button{
        margin: 0 10px;
    }
    .tank-container{
        gap: 5px;
    }
    .tank{
        height: 100px;
        width: 100px;
        margin-top: 20px;
    }
}